@font-face {
  font-family: "ShlomoSemiStam";
  src: url("/fonts/ShlomosemiStam.ttf") format("ttf");
}
@font-face {
  font-family: "ShlomoBold";
  src: url("/fonts/ShlomoBold.ttf") format("ttf");
}
@font-face {
  font-family: "Shlomo";
  src: url("/fonts/Shlomo.ttf") format("ttf");
}

.taam {
	font-family: "Shlomo";
	border: solid black 2px;
	margin: 1em;
	display: block;
}

.face {
	padding: 0 0.2em 0.2em;
	margin: 0;
	font-size: 3em;
}
